        <footer class="bg-gray-darker pv-21">
          <div class="container text-white">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6 text-right">
                <strong><a href="mailto:contacto@infraestructuraparatodos.pe">contacto@infraestructuraparatodos.pe</a></strong>
              </div>              
            </div>
          </div>
        </footer>
        <!-- <section class="pv-35">
          <div class="container"></div>
        </section> -->
      </div>
    </div>
    <!-- VENDOR SCRIPTS -->
    <script src="{site_url}js/app/vendor/"></script>
    <!-- DEVELOPMENT & PRODUCTION SCRIPTS
      *Compress scripts on production
    -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->  
    <script src="{site_url}js/b3/transition.js"></script>
    <script src="{site_url}js/b3/collapse.js"></script>
    <script src="{site_url}js/b3/dropdown.js"></script>
    <script src="{site_url}js/app/lib/"></script>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'infraestructuraparatodos';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>    
  </body>
</html>