        <section>
          <div class="main-nav">
            <div class="navbar p-7">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                  <a href="{site_url}"><img src="{site_url}assets/img/logo.png" width="250px"></a>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right mt-21">
                  <li class="active">
                    <a href="#objetivos">OBJETIVOS</a>
                  </li>
                  <li>
                    <a href="#iniciativas">INICIATIVAS</a>
                  </li>
                  <li>
                    <a href="#socios">SOCIOS</a>
                  </li>
                  <li>
                    <a href="#consejo">CONSEJO</a>
                  </li>
                  <li>
                    <a href="#noticias">NOTICIAS</a>
                  </li>
                  <li>
                    <a href="#documentos" id="follow">DOCUMENTOS</a>
                  </li>   
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
          </div>
        </section>