<!DOCTYPE html>
<html>
<!-- ===========================================================
 ______     __  __     __  __        __     __   __     ______    
/\  __ \   /\ \_\ \   /\ \/\ \      /\ \   /\ "-.\ \   /\  ___\   
\ \  __ \  \ \____ \  \ \ \_\ \     \ \ \  \ \ \-.  \  \ \ \____  
 \ \_\ \_\  \/\_____\  \ \_____\     \ \_\  \ \_\\"\_\  \ \_____\ 
  \/_/\/_/   \/_____/   \/_____/      \/_/   \/_/ \/_/   \/_____/ 
================================================================== -->
  
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="es" > <!--<![endif]-->
  <head>
    <!--[if lt IE 9]>
    <script src="{site_url}/js/ie9/html5shiv.js"></script>
    <script src="{site_url}/js/ie9/nwmatcher-1.2.5-min.js"></script>
    <script src="{site_url}/js/ie9/respond.min.js"></script>
    <script src="{site_url}/js/ie9/selectivizr-min.js"></script>
    <![endif]-->
    <meta charset="utf-8">

    <title></title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="@MadeByGus &amp; Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="#">
    <link rel="apple-touch-icon" sizes="128x128" href="#">
    <link rel="apple-touch-icon" sizes="76x76" href="#">
    <link rel="apple-touch-icon" href="#">

    <!-- WebFonts -->


    <!-- APP STYLES 
      *Compress/Minify stylesheets on production
    -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/ebm.css">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-menu"></div>
      <div class="site-content">
        <section>
          <div class="main-nav">
            <div class="navbar p-7">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                  <img src="../assets/img/logo.png" width="250px">
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right mt-21">
                  <li class="active">
                    <a href="../index.html">OBJETIVOS</a>
                  </li>
                  <li>
                    <a href="../index.html">INICIATIVAS</a>
                  </li>
                  <li>
                    <a href="../index.html">SOCIOS</a>
                  </li>
                  <li>
                    <a href="../index.html">CONSEJO</a>
                  </li>
                  <li>
                    <a href="../index.html">NOTICIAS</a>
                  </li>
                  <li>
                    <a href="documentos.html">DOCUMENTOS</a>
                  </li>  
                </ul>
              </div>
              <!--/.nav-collapse -->
            </div>
          </div>
        </section>
        <section id="documentos" class="pb-56">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center pb-21">
                <h1>Documentos</h1>
              </div>
            </div>
            <div class="row mb-21">
              <div class="col-md-4 mh-210">
                <h4>INFRAESTRUCTURA DE AGUA POTABLE Y ALCANTARILLADO: VISIÓN AL 2023 Y RECOMENDACIONES DE POLÍTICAS</h4>
                <p>En 2023, se habrá consolidado la modernización en la gestión de las EPS. Estas serán financieramente sólidas y proveerán acceso a servicios de saneamiento de calidad al 100% de la población bajo su jurisdicción.</p>
                <a href="#" target="_blank" class="btn btn-descargar pull-right mr-21">Descargar <img src="../assets/img/download.png"></a>
              </div>
              <div class="col-md-4 mh-210">
                <h4>INFRAESTRUCTURA EN ENERGÍA: SUEÑOS Y RECOMENDACIONES DE POLÍTICAS</h4>
                <p>Para el 2023, el 100% de peruanos, incluyendo áreas rurales, contarán con energía eléctrica. El Perú, en el año 2023, será un país que posea Seguridad Energética.</p>
                <a href="#" target="_blank" class="btn btn-descargar pull-right mr-21">Descargar <img src="../assets/img/download.png"></a>
              </div>
              <div class="col-md-4 mh-210">
                <h4>INFRAESTRUCTURA EN TELECOMUNICACIONES: VISIÓN AL 2023 Y RECOMENDACIONES DE POLÍTICAS</h4>
                <p>El 2005 sólo 433 de 1831 distritos (27%) contaban acceso móvil por, al menos, un operador. No obstante, a junio de 2013 sólo 6 distritos aún no cuentan con acceso móvil (1825 de 1831 distritos conectados).</p>
                <a href="#" target="_blank" class="btn btn-descargar pull-right mr-21">Descargar <img src="../assets/img/download.png"></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mh-210">
                <h4 class="uppercase">Infraestructura de transporte: visión al 2023 y recomendaciones de políticas</h4>
                <p>Se logrará tener infraestructura de transporte de calidad y correctamente dimensionada, que coloque al Perú entre los top 30 del mundo.</p>
                <a href="#" target="_blank" class="btn btn-descargar pull-right mr-21">Descargar <img src="../assets/img/download.png"></a>
              </div>
              <div class="col-md-4 mh-210">
                <h4 class="uppercase">Inversión en Infraestructura: Políticas Transversales</h4>
                <p>En el 2023, el Plan Nacional Multimodal de Infraestructura a nivel nacional se habrá venido ejecutando.</p>
                <a href="#" target="_blank" class="btn btn-descargar pull-right mr-21">Descargar <img src="../assets/img/download.png"></a>
              </div>
              <div class="col-md-4 mh-210">
                <h4 class="uppercase">LA BRECHA DE INFRAESTRUCTURA CRECE</h4>
                <p>El servicio móvil se encuentra disponible en el 99% de los distritos a nivel nacional. En el 2005, sólo en el 27% de distritos se podía brindar el servicio móvil</p>
                <a href="#" target="_blank" class="btn btn-descargar pull-right mr-21">Descargar <img src="../assets/img/download.png"></a>
              </div>
            </div>
          </div>
        </section>
        <footer class="bg-gray-darker pv-21">
          <div class="container text-white">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6 text-right">
                <strong>contacto@infraestructuraparatodos.pe</strong>
              </div>              
            </div>
          </div>
        </footer>
        <!-- <section class="pv-35">
          <div class="container"></div>
        </section> -->
      </div>
    </div>
    <!-- VENDOR SCRIPTS -->
    <script src="js/app/vendor/"></script>
    <!-- DEVELOPMENT & PRODUCTION SCRIPTS
      *Compress scripts on production
    -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->  
    <script src="js/b3/transition.js"></script>
    <script src="js/b3/collapse.js"></script>
    <script src="js/b3/dropdown.js"></script>
    <script src="js/app/lib/"></script>
  </body>
</html>